---
import DefaultLayout from "../layouts/DefaultLayout.astro";
import Conclusions from "../components/Conclusions.astro";
import Tables from "../components/Tables.astro";
import Graph from "../components/Graph.astro";
---

<DefaultLayout title="Home">
  <!-- TODO: CHANGE TITLE AND METATAGS -->
  <section class="margin-48">
    <div class="container">
      <h1>Conclusions TCA Ceylon Tea by HAS - January 2022</h1><br />
    </div>
  </section>
  <Conclusions />
  <Tables />
  <Graph />
  <!-- <section class="margin-64">
    <div class="container">
      <div class="grid">
        <div class="small-12">
          <h2>12 Column Grid</h2>
        </div>
        <div class="small-12 medium-3 space-content">
          <h3>Sidebar</h3>
          <ul>
            <li>Lorem ipsum dolor sit amet.</li>
            <li>Lorem ipsum dolor sit amet.</li>
            <li>Lorem ipsum dolor sit amet.</li>
            <li>Lorem ipsum dolor sit amet.</li>
          </ul>
        </div>
        <div class="small-12 medium-8 offset-medium-4 space-content">
          <h3>Main</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi
            mollitia alias sunt accusamus reiciendis fuga delectus, repellendus
            molestiae dolore illo iusto eligendi eaque qui hic facilis
            assumenda! Velit, minus, nobis. <strong
              ><a href="#">And lastely tab to me</a>
            </strong>.
          </p>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi
            mollitia alias sunt accusamus reiciendis fuga delectus, repellendus
            molestiae dolore illo iusto eligendi eaque qui hic facilis
            assumenda! Velit, minus, nobis.
          </p>
        </div>
      </div>
    </div>
  </section> -->
</DefaultLayout>
