---
import DefaultLayout from "../layouts/DefaultLayout.astro";
import Conclusions from "../components/Conclusions.astro";
import Tables from "../components/Tables.astro";
import Graph from "../components/Graph.astro";
import TeaCup from "../components/TeaCup.astro";
import Circles from "../components/Circles.astro";

import { getSiteMetatags } from "../utils/api";

const metatags = await getSiteMetatags();
---

<DefaultLayout metatags={metatags}>
  <!-- TODO: CHANGE TITLE AND METATAGS -->
  <section class="margin-48">
    <div class="container">
      <h1>Conclusions TCA Ceylon Tea by HAS - January 2022</h1><br />
    </div>
  </section>
  <Conclusions />
  <Tables />
  <Graph />
  <TeaCup />
  <Circles />
</DefaultLayout>
