---
import { Content } from "../utils/api";

export interface Props {
  content: Content;
}

const { content } = Astro.props as Props;

const title = content.data.attributes.conclusions_title;

const conclusions = content.data.attributes.conclusions.map(
  (c) => c.conclusion
);
---

<section class="padding-48 color-primary">
  <div class="container">
    <h2 class="margin-48 bottom">
      {title}
    </h2>
  </div>
  <div class="container" data-auto-grid="3">
    {conclusions.map((conclusion) => (
      <div
        class="text-neutral-100 bg-neutral-900 space-32 radius-large elevation-500"
        data-animation="fade-in"
      >
        <p>{conclusion}</p>
      </div>
    ))}
  </div>
  <!-- <div class="container margin-16 top">
      <a href="#" class="button">Tab to me first!</a>&nbsp;
      <a href="#" class="button color-secondary">Then it's my turn</a>
    </div> -->
</section>
