---
import { Content } from "../utils/api";

export interface Props {
  content: Content;
}

const { content } = Astro.props as Props;
const text = content.data.attributes.footer?.text || "";
const logos = content.data.attributes.footer?.footer_logos?.data || [];
---

<footer class="color-neutral">
  <div class="container align-center padding-32">
    <div class="logos">
      {logos.map((logo) => (
        <img
          loading="lazy"
          class="logo"
          src={`assets/cms/${logo.attributes.name}`}
          alt={logo.attributes.alternativeText}
        />
      ))}
    </div>
  </div>
  <p class="align-horizontal text-al padding-8">{text}</p>
</footer>

<style>
  .logos {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .logo {
    width: 300px;
    height: 85px;
    margin: 0 30px;
  }

  @media only screen and (max-width: 768px) {
    .logos {
      flex-direction: column;
    }

    .logo {
      margin: 0 0 30px 0;
    }
  }
</style>
