---
import Table from "./Table.astro";
import { Content } from "../utils/api";

export interface Props {
  content: Content;
}

const { content } = Astro.props as Props;
const tables = content.data.attributes.table;
---

<div class="container padding-48">
  {tables.map((table) => <Table table={table} />)}
</div>

<style>
  .container {
    display: flex;
    justify-content: space-between;
  }

  @media only screen and (max-width: 1160px) {
    .container {
      flex-direction: column;
    }
  }
</style>
