---
import { Content } from "../utils/api";

export interface Props {
  content: Content;
}

const { content } = Astro.props as Props;
const description = content.data.attributes.teacup_description;
---

<div class="container padding-48">
  <p>{description}</p>
</div>
